Package: jp.r-plus.mesalation
Name: Mesalation
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 7.0)
Version: 0.1
Architecture: iphoneos-arm
Description: Default passcode grace with TouchID
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: r_plus
Section: Tweaks
